echo "$PATH" >> /tmp/shell-init.txt
echo "$(date '+%Y-%m-%d %H:%M') :: :: ALIASES_LOADED" >> /tmp/shell-init.txt
export ALIASES_LOADED=1

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
# alias ~="cd ~" # `cd` is probably faster to type though
# alias -- -="cd -"

# Shortcuts
# alias d="cd ~/Documents/Dropbox"
# alias dl="cd ~/Downloads"
# alias dt="cd ~/Desktop"
# alias p="cd ~/projects"
alias g="git"
#alias gg='git log --oneline --abbrev-commit --all --graph --decorate --color'
alias h="history"
# alias j="jobs"    # now used for journal function

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# List all files colorized
alias l="LC_ALL=C /bin/ls -F ${colorflag}"

# List all files colorized, including dot files
alias la="LC_ALL=C /bin/ls -AF ${colorflag}"

# List all files colorized in long format
alias ll="LC_ALL=C /bin/ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias lla="LC_ALL=C /bin/ls -lAF ${colorflag}"

# List all files colorized in long format, reverse sorted by date (newest at bottom)
alias ltr="LC_ALL=C /bin/ls -ltrF ${colorflag}"

# List all files colorized in long format, reverse sorted by date (newest at bottom), including dot files
alias ltra="LC_ALL=C /bin/ls -ltrAF ${colorflag}"

# Always use color output for `ls`
# alias ls="LC_ALL=C command /bin/ls ${colorflag}"

# List only directories
alias lsd="LC_ALL=C /bin/ls -lF ${colorflag} | grep --color=never '^d'"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
# alias week='date +%V'

# Stopwatch
# alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# IP addresses
# alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
# alias localip="ipconfig getifaddr en0"
# alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# JavaScriptCore REPL
jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
[ -e "${jscbin}" ] && alias jsc="${jscbin}";
unset jscbin;

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "$method"="lwp-request -m '$method'"
done

# Make Grunt print stack traces by default
command -v grunt > /dev/null && alias grunt="grunt --stack"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

alias diff=colordiff

alias vim_bundle_update='vim +BundleInstall! +BundleClean +q'

# SSH-Agent forwarding breaks when screen is re-attached on a different host
# http://www.deadman.org/sshscreen.html
alias Attach='grabssh ; screen -d -R -h 5000'
alias fixssh='source $HOME/bin/fixssh'

# docker-compose aliases from https://gist.github.com/IronicBadger/362c408d1f2c27a0503cb9252b508140
# alias dc='docker-compose -f ~/appdata/docker-compose-`hostname`/docker-compose.yml '
# alias dcpull='docker-compose -f ~/appdata/docker-compose-`hostname`/docker-compose.yml pull --parallel'
# alias dclogs='docker-compose -f ~/appdata/docker-compose-`hostname`/docker-compose.yml logs -tf --tail="50" '

### docker

## containers
alias dps='docker ps'
alias dpsa='docker ps -a'
# force kill and remove all docker containers
alias drmf='docker rm -f $(docker ps -aq)'

## images
# 'dclean "<none>"' to remove all images with a name and/or a tag of <none>. use 'docker images' to list all
dclean() { docker rmi -f $(docker images | grep $1 | awk '{print $3}'); }
# delete untagged (dangling) images (i.e. <none>)
#docker rmi $(docker images -f "dangling=true" -q)

## volumes
# If we want to remove all orphaned containers at once we can use this command:
# docker volume rm $(docker volume ls | awk '{print $2}')
#
# To get just the volume name you can run
# docker volume ls -q
#
# To remove dangling volumes only
# docker volume rm $(docker volume ls -qf dangling=true)
#
# alias dtail='docker logs -tf --tail="50" "$@"'

### other misc aliases from https://gist.github.com/IronicBadger/362c408d1f2c27a0503cb9252b508140
#alias df='df -h -x aufs -x tmpfs -x udev'
#alias editle='sudo vi /mnt/cache/appdata/letsencrypt/nginx/site-confs/default'

# https://www.tecmint.com/ctop-monitor-docker-containers/
alias ctop='docker run --rm -ti --name=ctop -v /var/run/docker.sock:/var/run/docker.sock quay.io/vektorlab/ctop:latest'
# https://github.com/wagoodman/dive
alias dive='docker run --rm -it -v /var/run/docker.sock:/var/run/docker.sock  -v $(which docker):/bin/docker wagoodman/dive:latest'

# export COMPOSE_FILE=~/docker/$(uname -n)/docker-compose.yml
alias dc='docker compose'
alias dcd='docker compose down'
# alias dcl='docker compose logs -f'
alias dcl='docker compose logs -ft --tail="50" "$@"'
alias dcp='docker compose pull'
alias dcu='docker compose up -d'

### macOS only aliases
if [ `uname` = Darwin ] ; then
    # https://hub.github.com/
    alias git=hub

    # Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
    alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update'

    # Flush Directory Service cache
    alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

    # Clean up LaunchServices to remove duplicates in the “Open With” menu
    alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

    # Empty the Trash on all mounted volumes and the main HDD
    # Also, clear Apple’s System Logs to improve shell startup speed
    alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

    # Show/hide hidden files in Finder
    alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
    alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

    # Hide/show all desktop icons (useful when presenting)
    alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
    alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

    # Merge PDF files
    # Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
    alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

    # Disable Spotlight
    alias spotoff="sudo mdutil -a -i off"
    # Enable Spotlight
    alias spoton="sudo mdutil -a -i on"

    # Stuff I never really use but cannot delete either because of http://xkcd.com/530/
    alias stfu="osascript -e 'set volume output muted true'"
    alias pumpitup="osascript -e 'set volume 7'"

    # homebrew automatically installs tailscale cli in /opt/homebrew/bin/tailscale,
    #   so this alias is no longer needed
    # tailscale
    # alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"

    # If you're going to build Homebrew formulae from source that link against
    # Python like Tkinter or NumPy (This is only generally the case if you are a
    # developer of such a formula, or if you have an EOL version of MacOS for which
    # prebuilt bottles are no longer provided and you are using such a formula).
    #
    # To avoid them accidentally linking against a Pyenv-provided Python, add the
    # following line into your interactive shell's configuration:
    # alias brew='env PATH="${PATH//$(pyenv root)\/shims:/}" brew'
    # remove .asdf/shims, as well as .pyenv/shims
    alias brew='env PATH="${PATH//:*\/shims:/:}" brew'
    # alias brew='env PATH="${PATH//:*\\/shims:/:}" brew'
fi

alias mux='tmuxinator'

# always include --minimal & --stats options when running 'mr'
alias mr='command mr --minimal --stats'

type bat >/dev/null 2>&1 && alias cat='bat'
type bat >/dev/null 2>&1 && alias cats='bat -A'
type bat >/dev/null 2>&1 && alias catp='fzf --preview "bat --color=always --style=numbers --line-range=:500 {}"'

alias cc='cookiecutter'

# edit all files containg 'TODO' within current directory (including sub-directories)
if command -v rg > /dev/null 2>&1; then # ripgrep installed
    alias todo="vim -c 'cwindow' -q <(rg --vimgrep 'TODO')"
else
    alias todo="vim -c 'cwindow' -q <(grep -nr 'TODO' ./*)"
fi

# mise x|exec
alias x="mise x --"
