export EXPORTS_LOADED=1

# Make vim the default editor.
export EDITOR='vim';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
# GREP_OPTIONS is deprecated from grep 2.21
# export GREP_OPTIONS='--color=auto';

# setup Go workspace
export GOPATH=$HOME

# for gpg-agent
GPG_TTY=$(tty)
export GPG_TTY

# for brew bump-formula-pr
export HOMEBREW_DEVELOPER=1

# restic
export RESTIC_REPOSITORY=sftp:restic.drobo:restic

# linuxserver.io docker containers
export PUID=1000
export PGID=1000

export TZ="America/Chicago"

# pip should only run if there is a virtualenv currently activated
# https://news.ycombinator.com/item?id=21431046
export PIP_REQUIRE_VIRTUALENV=true

# get python deprecation warnings
# export PYTHONDEVMODE=1

# hledger-stockquotes default ledger file
export LEDGER_FILE=$HOME/fin/hledger/hoover/all.journal

# fzf
# export FZF_DEFAULT_OPTS='-m --height 40% --layout=reverse --border'
# export FZF_DEFAULT_OPTS='--height 40% --layout=reverse --border'
export FZF_DEFAULT_OPTS='--height 40% --layout=reverse --border --color=fg:#f8f8f2,bg:#282a36,hl:#bd93f9 --color=fg+:#f8f8f2,bg+:#44475a,hl+:#bd93f9 --color=info:#ffb86c,prompt:#50fa7b,pointer:#ff79c6 --color=marker:#ff79c6,spinner:#ffb86c,header:#6272a4'

# arch
export AURDEST=~/.cache/AUR
export CUSTOMIZEPKG_CONFIG=~/.config/customizepkg

# asdf
export ASDF_DIRENV_NO_TOUCH_RC_FILE=1

# https://cookiecutter.readthedocs.io/en/stable/advanced/user_config.html
export COOKIECUTTER_CONFIG=~/.config/cookiecutterrc

# https://github.com/mkb79/audible-cli
export AUDIBLE_CONFIG_DIR=~/.config/audible-cli

# https://gramps-project.org/wiki/index.php/Gramps_5.1_Wiki_Manual_-_Command_Line#GRAMPSHOME
export GRAMPSHOME=~/Genealogy

# https://github.com/jdx/mise/issues/1412
#   always use .tool-versions for writing
# export MISE_USE_TOML=0

# mise global --help
#  Sets/gets the global tool version(s)
#   Displays the contents of global config after writing.
#   The file is `$HOME/.config/mise/config.toml` by default. It can be changed with `$MISE_GLOBAL_CONFIG_FILE`.
#   If `$MISE_GLOBAL_CONFIG_FILE` is set to anything that ends in `.toml`, it will be parsed as `.mise.toml`.
#   Otherwise, it will be parsed as a `.tool-versions` file.
# Use MISE_ASDF_COMPAT=1 to default the global config to ~/.tool-versions
# Use `mise local` to set a tool version locally in the current directory.
export MISE_ASDF_COMPAT=1
